/*Variables de entorno*/
/* no se envían a producción */
/* se agregan al archivo .gitignore para que no se suban al repositorio */


MONGODB=mongodb://localhost:27017/nest-pokemon
PORT= 3001
DEFAULT_LIMIT=10

//ponemos todas las variables de entorno que queramos usar en el proyecto, y luego las podemos usar en cualquier parte del proyecto, por ejemplo en el archivo app.module.ts, para conectarnos a la base de datos.
//pero nada de usar usuarios y contraseñas en el archivo .env, eso es muy inseguro, mejor usar variables de entorno en el sistema operativo, o en un archivo .env.local que no se suba al repositorio, y luego usar esas variables de entorno en el archivo .env.template, para que no se suban al repositorio.
//NO USAR INFORMACIÓN SENSIBLE EN EL ARCHIVO .ENV, SOLO USAR VARIABLES DE ENTORNO QUE NO SEAN SENSIBLES, COMO PUERTO, LIMITE DE RESULTADOS, ETC.

//el template será parte dle repositorio que se suba.
